# Configuración de Base de Datos
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=formopack_db

# Seguridad Flask (Cambiar en producción)
SECRET_KEY=clave_secreta_para_desarrollo_local

# Integración Email (Notificaciones SMTP)
# Para Gmail, usar una "Contraseña de Aplicación"
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_password_de_aplicacion
EMAIL_SENDER="FormoPack Express <tu_correo@gmail.com>"

# Integración Mercado Pago (Checkout Pro)
MP_ACCESS_TOKEN=APP_USR-tu_access_token_de_prueba
